.body {
  display: block;
  margin: 0;
  background-color: #8a7fe9;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0 auto;
  padding: 24px 20px;
}

.logo {
  aspect-ratio: 6.67;
  object-fit: auto;
  object-position: center;
  width: 200px;
  align-self: center;
}

.inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.calculator-container {
  display: flex;
  flex-direction: column;
}

.badge {
  display: flex;
  border-radius: 20px;
  background-color: #f00;
  align-self: center;
  margin-top: 24px;
  justify-content: center;
  padding: 4px 32px;
  font: 700 24px Savior Sans, sans-serif;
}

.title {
  text-align: center;
  align-self: center;
  margin-top: 32px;
  font: 300 28px PP Neue Machina, sans-serif;
}

.description {
  text-align: center;
  margin-top: 24px;
  font: 300 18px Savior Sans, sans-serif;
}

.calculator {
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  margin-top: 16px;
  flex-direction: column;
  color: #000;
  padding: 20px 0 32px;
}

.calculator-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.calculator-title {
  text-align: left;
  font: 300 18px PP Neue Machina, sans-serif;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input-label {
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(217, 217, 217, 0);
  align-items: start;
  text-align: left;
  justify-content: center;
  padding: 10px 22px;
  font: 300 16px Barlow, sans-serif;
}

.span-error {
  color: red;
  font: 300 12px Barlow, sans-serif;
  margin: 12px 8px 0 0;
}

.calculator-actions {
  display: flex;
  margin-top: 12px;
  gap: 20px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  justify-content: space-between;
}

.calculate-button {
  font: 700 18px Savior Sans, sans-serif;
  border-radius: 20px;
  background-color: #f00;
  border: none;
  color: white;
  justify-content: center;
  margin: auto 0;
  padding: 8px 54px;
}

.calculate-button:enabled {
  cursor: pointer;
}

.calculate-button:disabled {
  background-color: gray;
}

.calculator-icon {
  aspect-ratio: 1.15;
  object-fit: auto;
  object-position: center;
  width: 60px;
}

.calculator-note {
  text-align: left;
  margin-top: 16px;
  font: 300 16px Barlow, sans-serif;
}

.result-main-container {
  display: none;
}

.section-title {
  margin-top: 48px;
  font: 300 16px PP Neue Machina, sans-serif;
}

.result-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.user-data {
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #d9d9d9;
  display: flex;
  margin-top: 24px;
  text-align: center;
  padding: 16px 10px;
}

.user-data-content {
  display: flex;
  flex-direction: column;
}

.user-age {
  font: 500 14px Savior Sans, sans-serif;
}

.user-amount {
  margin-top: 4px;
  font: 700 18px Savior Sans, sans-serif;
}

.arrow-icon {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 36px;
  align-self: center;
  margin-top: 6px;
}

.earnings {
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #d9d9d9;
  display: flex;
  text-align: center;
  padding: 16px 10px;
}

.earnings-content {
  display: flex;
  flex-direction: column;
}

.earnings-label {
  font: 500 14px Savior Sans, sans-serif;
}

.earnings-amount {
  margin-top: 4px;
  font: 700 24px Savior Sans, sans-serif;
}

.result {
  justify-content: center;
  border-radius: 12px;
  background-color: #16af91;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 16px 10px;
}

.result-label {
  font: 500 14px Savior Sans, sans-serif;
}

.result-amount {
  align-self: center;
  margin-top: 4px;
  font: 700 24px Savior Sans, sans-serif;
}

.disclaimer {
  margin: 34px 0px 0;
  font: 300 14px Savior Sans, sans-serif;
}

.image-container {
  display: none;
}

.assumptions-title {
  margin-top: 38px;
  font: 300 18px PP Neue Machina, sans-serif;
}

.assumptions-text {
  margin-top: 12px;
  font: 300 12px Savior Sans, sans-serif;
}

.footer {
  background-color: #232323;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;

  img {
    display: flex;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 40px;
  }
}

.copyright {
  color: #f5e9da;
  text-align: center;
  margin-top: 22px;
  font: 300 12px Savior Sans, sans-serif;
}

@media (min-width: 768px) {
  .header {
    padding: 40px 0px;
  }

  .logo {
    width: 250px;
  }

  .calculator-container {
    display: flex;
    max-width: 640px;
  }

  .inner-container {
    gap: 32px;
  }

  .inputs-container {
    flex-direction: row;
    margin-top: 24px;
  }

  .input-label {
    width: 100%;
  }

  .principal-image {
    display: flex;
    max-width: 280px;
  }

  .result-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .assumptions-container {
    max-width: 640px;
  }

  .title {
    margin-right: 32px;
  }
}

@media (min-width: 1024px) {
  .badge {
    align-self: start;
    padding: 4px 34px;
    font: 700 18px Savior Sans, sans-serif;
  }

  .inner-container {
    gap: 48px;
    max-width: 100%;
  }

  .principal-image {
    display: flex;
    max-width: 250px;
  }

  .calculator {
    min-width: 610px;
    margin-top: 48px;
  }

  .image-container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .assumptions-container {
    max-width: 938px;
    margin: 0 auto;
  }

  .title {
    margin-top: 20px;
    text-align: left;
    font: 300 36px PP Neue Machina, sans-serif;
  }

  .description {
    text-align: left;
    margin-top: 12px;
    font: 300 24px Savior Sans, sans-serif;
  }

  .inputs-container {
    gap: 20px;
  }

  .calculator-title {
    font: 300 32px PP Neue Machina, sans-serif;
  }

  .calculator-note {
    margin-top: 8px;
  }

  .section-title {
    margin-top: 48px;
    font: 300 21px PP Neue Machina, sans-serif;
  }

  .disclaimer {
    margin: 36px 0px 0;
  }

  .result-container {
    margin-top: 24px;
  }

  .assumptions-title {
    margin-top: 52px;
    font: 300 24px PP Neue Machina, sans-serif;
  }

  .assumptions-text {
    margin-top: 12px;
    font: 300 14px PP Neue Machina, sans-serif;
  }
}

@media (min-width: 1440px) {
  .inner-container {
    gap: 80px;
    max-width: 100%;
  }

  .calculator {
    min-width: 767px;
    padding: 32px 0px;
  }

  .calculator-container {
    display: flex;
    max-width: 770px;
  }

  .calculator-actions {
    margin-top: 16px;
  }

  .principal-image {
    display: flex;
    max-width: 500px;
  }


  .earnings {
    min-width: 180px;
  }

  .assumptions-container {
    max-width: 1340px;
    margin: 0 auto;
  }
}
